<!DOCTYPE html>
<html>
    <head>
        <title>GIAC Index on Steroids</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .title {
                font-size: 30px; 
                font-weight: bold;
            }
            .topic {
                color: blue;
                font-weight: bold;
            }
            .keyword-list {
                list-style-type:none;
                padding-left: 0;
                margin-top: 0;
            }
        </style>
    </head>
<body>
    {% for section,entries in index.items() %}
        <div>
            <span class="title">{{ section }}</span><br><br>        
            <ul class="keyword-list">
                {% for e in entries %}
                    <li><span class="topic">{{ e['keyword'] }}</span> <i>[B{{ e['book_number'] }}/C{{ e['chapter_number'] }}/P{{ e['page_number'] }}]</i> {{ e['description'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>